{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

    <main class="container py-5">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de la conférence</th>
                    <th>Localisation</th>
                    <th>Organisateur</th>
                    <th>Intervenants</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for conference in conferences %}
                    <tr>
                        <td>{{ conference.id }}</td>
                        <td>{{ conference.name }}</td>
                        <td>{{ conference.location }}</td>
                        <td>{{ conference.author }}</td>
                        <td>{{ conference.speakers }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune conférence trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('admin_conference') }}">Proposer une conférence</a>
        </div>
        <div class="example-wrapper">
            {{ form(form) }}
        </div>
    </main>
{% endblock %}
