{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <div class="container">
        <h1>Mes widgets ({{ widgets|length }})</h1>

        <table class="table table-striped">

            <thead>
            <th>Nom du widget</th>
            <th>Numéro de widget</th>
            <th>Token sécurité</th>
            <th>Date d'ajout</th>
            <th>Actions</th>
            </thead>

            {% for widget in widgets %}
                <tr>
                    <td>
                        <p>{{ widget.name }}</p>
                    </td>
                    <td>
                        <p>{{ loop.index }} {% if not premium %}/ 3{% endif %}</p>
                    </td>
                    <td>
                        <p>{{ widget.token }}</p>
                    </td>
                    <td>
                        <p>{{ widget.domainAllowed }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <textarea class="full w-100">
                    <iframe src="http://localhost:8080/widget?id={{ widget.id }}&token={{ widget.token }}" width="100%" frameborder="0" height="500"/>
                    </textarea>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="container">
            <div class="columns">
                <div class="column is-6-desktop">
                    <a href="{{ url_new_widget }}" class="btn btn-primary">Créer un widget</a>
                </div>
                <div class="column is-6-desktop">
                    <a href="{{ url_new_widget }}" class="btn btn-primary">Ajouter un domaine</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
