{% extends 'widget/base.html.twig' %}

{% block title %}Widget KODO{% endblock %}

{% block body %}
    <div id="kodo-widget" class="widget">
        <div class="widget-inner">
            {% if isValidToken %}
                <p class="btn-primary">Token est valide</p>
                <div id="widget-wrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom de la conférence</th>
                            <th>Localisation</th>
                            <th>Extract</th>
                            <th>Date</th>
                            <th>Intervenants</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for conference in conferences %}
                            <tr>
                                <td>{{ conference.name }}</td>
                                <td>{{ conference.location }}</td>
                                <td>{{ conference.extract|u.truncate(100, '...', true) }}</td>
                                <td>{{ conference.date|date('d-m-Y') }}</td>
                                <td>{{ conference.speakers }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucune conférence trouvée</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="overlay-error">Widget non autorisé</div>
            {% else %}
                <h1>Token est invalide</h1>
            {% endif %}
            <div class="d-flex justify-content-center">
                {% do conferences.setPageRange(2) %}
                {{ knp_pagination_render(conferences, 'base/pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
      window.domainAllowed = '{{ widget.domainAllowed }}';
    </script>
    {{ parent() }}
{% endblock %}
