{% extends 'widget/base.html.twig' %}

{% block title %}Widget KODO{% endblock %}

{% block body %}
    <div id="kodo-widget" class="widget widget-{{ widget.style }}">
        <div class="widget-inner {% if premium %}widget-pro{% else %}widget-standard{% endif %}">
            {% if not premium %}
                <div class="widget-topbar">
                    <img src="{{ asset('images/logo-kodo-yellow.svg') }}" alt="logo-kodo">
                </div>
            {% endif %}
            {% if isValidToken %}
                {% include 'widget/overlay-error-not-allowed.html.twig' %}
                <div id="widget-wrapper">
                    {% if widget.style == 'compact' %}
                        <div class="widget-tabs">
                            <div class="d-flex tabs-title">
                                <div class="tab-title event-past flex-grow-1">
                                    <a href="#">Conférences passées</a>
                                </div>
                                <div class="tab-title event-future flex-grow-1 active">
                                    <a href="#">Conférences à venir</a></div>
                            </div>
                            <div class="row conferences-past d-none">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Nom de la conférence</th>
                                        <th>Localisation</th>
                                        <th>Extract</th>
                                        <th>Date</th>
                                        <th>Intervenants</th>
                                        <th>URL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for conference in conferencesNext %}
                                        <tr>
                                            <td><img src="uploads/conferences/images/{{ conference.imageName }}" alt=""
                                                     width="140">
                                            </td>
                                            <td>{{ conference.name }}</td>
                                            <td>{{ conference.location }}</td>
                                            <td>
                                                {% for category in conference.category %}
                                                    {{ category }}
                                                {% endfor %}
                                            </td>
                                            <td>{{ conference.extract|u.truncate(100, '...', true) }}</td>
                                            <td>
                                                {% if date(conference.date) < date('today') %}
                                                    passé
                                                {% else %}
                                                    à venir
                                                {% endif %}
                                                {{ conference.date|date('d-m-Y H:i') }}

                                                {{ conference.date|ago(locale='fr') }}
                                            </td>
                                            <td>{{ conference.speakers }}</td>
                                            <td>
                                                <a href="{{ conference.url }}"
                                                   onclick="dataLayer.push({'event': 'category-click', 'category': '{% for category in conference.category %}{{ category }}{% endfor %}'});"
                                                   target="_blank">URL</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Aucune conférence trouvée</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="row conferences-future">
                                <div class="conferences-list">
                                    {% for conference in conferencesNext %}
                                        <div class="conference-item card mb-3">
                                            <div class="row g-0">
                                                <div class="col-sm-4 d-none d-sm-block">
                                                    <a href="{{ conference.url }}"
                                                       onclick="dataLayer.push({'event': 'category-click', 'category': '{% for category in conference.category %}{{ category }}{% endfor %}'});"
                                                       target="_blank">
                                                        <img src="uploads/conferences/images/{{ conference.imageName }}"
                                                             class="img-fluid rounded-start"
                                                             alt="{{ conference.name }}">
                                                    </a>
                                                </div>
                                                <div class="col-sm-8 col-12">
                                                    <div class="card-body">
                                                        <a href="{{ conference.url }}"
                                                           onclick="dataLayer.push({'event': 'category-click', 'category': '{% for category in conference.category %}{{ category }}{% endfor %}'});"
                                                           target="_blank">
                                                            <div>
                                                                <div>
                                                                    <div>
                                                                        <h5 class="card-title conference-title">{{ conference.name }}</h5>
                                                                    </div>
                                                                    <div class="conferences-metas d-flex align-items-center">
                                                                        <div class="conference-speakers">
                                                                            <img src="{{ asset('images/avatar-placeholder.jpeg') }}"
                                                                                 width="33" alt="" class="rounded">
                                                                            {{ conference.speakers }}
                                                                        </div>
                                                                        <div class="conference-tags d-flex align-items-center">
                                                                            {% for category in conference.category %}
                                                                                <span class="badge bg-purple mx-2">{{ category }}</span>
                                                                            {% endfor %}
                                                                            <span class="badge bg-dark mx-2">{{ conference.date|ago(locale='fr') }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <button class="btn btn-primary"><i
                                                                                class="fa fa-home"></i> d
                                                                    </button>
                                                                </div>
                                                                <p class="card-text">{{ conference.extract|raw }}</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Aucune conférence trouvée</td>
                                        </tr>
                                    {% endfor %}
                                    <div class="d-flex justify-content-center">
                                        {% do conferencesNext.setPageRange(2) %}
                                        {{ knp_pagination_render(conferencesNext, 'base/pagination.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                </div>
            {% else %}
                {% include 'widget/overlay-error-token.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJK87Y9D5B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('set', 'allow_google_signals', false);
      gtag('config', 'G-NJK87Y9D5B', {
        client_storage: 'none',
        anonymize_ip: true
      });

      gtag('event', 'widget', {
        'name': 'widget',
        'method': 'Iframe',
        'value': 'widget-{{ widget.id }}'
      });
    </script>
    <script type="text/javascript">
      window.domainAllowed = '{{ widget.domainAllowed }}';
    </script>
    {{ parent() }}
{% endblock %}
