{% extends 'widget/base.html.twig' %}

{% block title %}Widget KODO{% endblock %}

{% block body %}
    <div id="kodo-widget" class="widget">
        <div class="widget-inner {% if premium %}widget-pro{% else %}widget-standard{% endif %}">
            {% if isValidToken %}
                <p class="btn-primary">Token est valide</p>
                <div id="widget-wrapper">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Nom de la conférence</th>
                            <th>Localisation</th>
                            <th>Extract</th>
                            <th>Date</th>
                            <th>Intervenants</th>
                            <th>URL</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for conference in conferences %}
                            <tr>
                                <td><img src="uploads/conferences/images/{{ conference.imageName }}" alt=""></td>
                                <td>{{ conference.name }}</td>
                                <td>{{ conference.location }}</td>
                                <td>{{ conference.extract|u.truncate(100, '...', true) }}</td>
                                <td>
                                    {% if date(conference.date) < date('today') %}
                                        passé
                                    {% else %}
                                        à venir
                                    {% endif %}
                                    {{ conference.date|date('d-m-Y H:i') }}

                                    {{ conference.date|ago(locale='fr') }}
                                </td>
                                <td>{{ conference.speakers }}</td>
                                <td><a href="http://www.google.com" target="_blank">URL</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucune conférence trouvée</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    {% do conferences.setPageRange(2) %}
                    {{ knp_pagination_render(conferences, 'base/pagination.html.twig') }}
                </div>
                {% include 'widget/overlay-error-not-allowed.html.twig' %}
            {% else %}
                {% include 'widget/overlay-error-token.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJK87Y9D5B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'G-NJK87Y9D5B', {
        'cookie_prefix': 'none'
      });

      gtag('event', 'widget', {
        'method': 'Iframe',
        'value': {{ widget }}
      });
    </script>
    <script type="text/javascript">
      window.domainAllowed = '{{ widget.domainAllowed }}';
    </script>
    {{ parent() }}
{% endblock %}
