{% extends 'base.html.twig' %}

{% block title %}KODO - Identification{% endblock %}

{% block body %}
    <main class="page-signin">
        <form method="post" class="form-signin">
            {% if app.user %}
            <div class="mb-3">
                Vous êtes identifié en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se
                    déconnecter</a>
            </div>
            {% else %}
            <div class="form-inner">
                <div class="form-header">
                    <img src="{{ asset('images/logo-kodo-blue.svg') }}" alt="logo-kodo" width="235"/>
                </div>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-floating">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="form-control"
                           autocomplete="email" required autofocus placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" required placeholder="Mot de passe">
                    <label for="floatingPassword">Mot de passe</label>
                    <div class="password-forgot">
                        <a href="#" class="text-decoration-underline">Mot de passe oublié ?</a>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="w-100 btn btn-lg btn-primary form-cta" type="submit">Se connecter</button>

                <hr>

                <div class="text-center">
                    <p>Pas de compte ?</p>
                    <a href="mailto:contact@kodotalks.com" class="btn btn-outline-primary"><i
                                class="far fa-envelope"></i> Contactez-nous</a>
                </div>
            </div>
        </form>
        {% endif %}
    </main>
{% endblock %}
